@tailwind base;
@tailwind components;
@tailwind utilities;

/* Вбиваємо дефолтні налаштування Next.js, які форсують системну темну тему */
html, body {
    background-color: #F5F4F1 !important;
    color: #0D0D0D !important;
    transition: background-color 0.7s ease, color 0.7s ease;
}

/* Наша преміальна нічна тема */
html.dark, html.dark body {
    background-color: #0A0A0A !important;
    color: #F5F4F1 !important;
}